/* Contêiner principal */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Linha Superior */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  gap: 10px; /* Espaçamento entre os elementos */
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha em telas menores */
}

/* Título */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0; /* Remove espaçamento extra */
}

/* Barra de Pesquisa */
.searchBar {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 5px;
}

/* Contêiner do Input com Ícone */
.searchInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px; /* Largura fixa */
}

/* Ícone de Pesquisa */
.searchIcon {
  position: absolute;
  left: 10px; /* Alinha o ícone dentro do input */
  width: 15px;
  height: 15px;
  pointer-events: none; /* Impede clique no ícone */
}

/* Campo de Pesquisa */
.searchInput {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Espaço à esquerda para o ícone */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.searchInput:focus {
  outline: none;
  border-color: #f5a623;
}

/* Botão Adicionar Colaborador */
.addButton {
  background-color: #f5a623;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #e6951f;
}

/* Tabela */
.tableContainer {
  max-height: 550px; /* Altura máxima com rolagem vertical */
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: left;
  padding: 12px;
  word-wrap: break-word;
}

.table th {
  font-size: 16px;
  color: #333;
  position: sticky; /* Mantém o cabeçalho fixo ao rolar */
  background-color: #ffffff;
  top: 0;
  z-index: 1;
}

/* Contêiner dos Ícones */
.dependentsActions {
  display: flex;
  justify-content: space-between;
  gap: 15px; /* Espaço entre os ícones */
  cursor: pointer;
}

/* Botões de Ação com Ícones */
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.1); /* Leve aumento no hover */
}

.icon {
  width: 24px; /* Tamanho consistente dos ícones */
  height: 17px;
}