/* Contêiner principal */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  /* Título */
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Barra de Pesquisa */
  .searchBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .searchButton {
    margin-left: 10px;
    background-color: #f5a623;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton img {
    width: 20px;
    height: 20px;
  }
  
  .searchButton:hover {
    background-color: #e6951f;
  }
  
  /* Botão Adicionar Colaborador */
  .addButton {
    display: inline-block;
    background-color: #f5a623;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .addButton:hover {
    background-color: #e6951f;
  }
  
  /* Tabela */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-size: 16px;
    color: #333;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Ícones de Ação */
  .dependentsActions {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  